<div class="dialog">
  <div mat-dialog-content>
    {{message}}
  </div>
  <div class="inputs">
    <form [formGroup]="form" (submit) = "agregarUsuario()">
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Correo</mat-label>
          <input matInput autocomplete="off" formControlName="email">
        </mat-form-field>
      </p>
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary" >Aceptar</button>
      <button mat-raised-button (click)="onClickCancelar()" style="margin-left: 15px;">Cancelar</button>
    </form>
  </div>
</div>

